/* Add your CSS styles here */
body{
    background-image: url(lambo_ter.jpg);
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial;
}
.terms{
    color: rgba(14, 23, 204, 0.982);
}
h1, h2, h3 {
    color: #333;
}

p {
    color: #666;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

/* Add more CSS styles as needed */
